@import "tailwindcss";
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;;
}

body{
    height: 100%;
}

.weather-input .feelslike,
.weather-input .description,
.weather-input .date,
.weather-input .city{
    padding: 5px 0; 
}
    
.weather-input{
    background: #78c1f3;
    padding: 1rem 2.5rem;

}
.input-group{
    margin: 2rem 0;
}
.input-group input{
    padding: 1rem;
    
}

.weather-output{
    margin-left: 25%;
    padding: 2rem;
}
.sun span{
    align-items: center;
    display: flex;

}

.weatherIcon{
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    display: block;
    height: 25%;
    margin: 2rem auto;
    
}
.Highlights div ,
.Forecast div{
    height: 250px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #78c1f3;
    border-radius: 20px;
    padding: 1rem;
     border: 1px solid black;
}
.Forecast{
    display: grid;
    grid-template-columns: repeat(4,260px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
}
#tempa span{
    display: flex;
    
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background:grey;
}
.temperature span{
    font-size: 2rem;
    margin-top: 10px;
   
}

.forecast-desc{
    color:darkred;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
    font-style: italic;
}
.description i{
    font-size: 35px;
}

/*For Mobile*/
@media(min-width:375px)and 
(max-width:667px){
    body{
        background-color:  white
    }
    .weather-input{
        width: 100%;
        position: static;
        padding: 10px 10px;
    }
    .weather-output{
        margin-left: 0%;
        padding: 10px 10px;
        width: 100%;
        margin-top: 370px;
    }
    .Highlights  
     {
   height: 200px;
 display: grid;
 grid-template-columns: 1fr ;
 grid-template-rows: repeat(6,1fr);
   margin: 10px;
}
.Forecast{
    height: 200px;
 display: grid;
 grid-template-columns: 1fr ;
 grid-template-rows: repeat(6,1fr);
   margin: 10px;
   margin-top:10px ;
}
#heading1{
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
  margin-top: 1370px;
  color: white;
}
#heading2{
    text-align: center;
     border: 1px solid white;
    border-radius: 10px;
    background-color: black;
  margin: 10px;
  color: white;
}
}


/* For I pad mini*/

@media(min-width:768px)and 
(max-width:1024px){
    .weather-input{
        width: 45%;
        position: fixed;
        inset: 0;
        padding: 10px 10px;
    }
    .weather-output{
        margin-left: 46%;
        padding: 10px 10px;
        width: 100%;
    ;
    }
    .Highlights  
     {
   height: 250px;
 display: grid;
 grid-template-columns: 0.5fr ;
 grid-template-rows: repeat(6,1fr);
   margin: 10px;
}
.Forecast{
    height: 250px;
 display: grid;
 grid-template-columns: 0.5fr ;
 grid-template-rows: repeat(6,1fr);
   margin: 10px;
   margin-top:10px ;
}
#heading1{
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
  margin-top: 1370px;
  color: white;
}
#heading2{
     width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    margin: 10px;
  color: white;
}
}

/* For desktop */
@media(min-width:1025px){
    body{
        background-color:  #78c1f3;
    }
    .weather-input{
        width: 25%;
        position: fixed;
        inset: 0;
        padding: 10px 10px;
    }
    .weather-output{
        margin-left:25%;
        padding: 10px 0px;
        width: 100%;
    }
    .Highlights  
     {
   height: 200px;
 display: grid;
 grid-template-columns:0.24fr 0.24fr 0.24fr;
 grid-template-rows: repeat(3,0.25fr);
   margin-right: 10px;
   margin-left: 33px;
}
.Forecast{
    height: 200px;
 display: grid;
 grid-template-columns: 0.5fr ;
 grid-template-rows: repeat(6,0.5fr);
   margin-left: 18%;
   margin-top:10px ;
}
#heading1{
    width: 72%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
  margin-top: 330px;
  margin-left: 20px;
  color: white;
}
#heading2{
     width: 74%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    margin: 10px;
  color: white;
}
}


   